 
            #matrixvideo {
                position: fixed;
                right: 0;
                bottom: 0;
                min-width: 100%; 
                min-height: 100%;
                z-index: -1;
            }  
            .wholedoc {
                width:1000px;
               

             

            }
            .intro {
              width: 960px;
              height: 330px;
              border: 1px solid black;
              display: flex;
              margin-left: 270px;
              text-align: justify;
              text-justify: inter-word;
              
            }
            

            .intro div {
              -ms-flex: 1;  
              flex: 1;
            }

            .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 0px dotted #34363f; /* If you want dots under the hoverable text */
                }

                /* Tooltip text */
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                bottom: 80%;
                left: 20%; 
                margin-left: -60px;
                background-color: #34363f;
                color: #fff;
                text-align: left;
                padding: 5px 5px 5px 5px;
                border-radius: 6px;
                font-family:impact;
                
                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
                }

                /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip:hover .tooltiptext {
                visibility: visible;
                }

            .tooltip .tooltipbio {
                visibility: hidden;
                width: 260px;
                top: 120%;
                left: 50%; 
                margin-left: -130px;
                background-color: #34363f;
                color: #fff;
                text-align: left;
                padding: 5px 5px 5px 5px;
                border-radius: 6px;
                font-family:impact;
                text-align: justify;

                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
                }

                /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip:hover .tooltipbio {
                visibility: visible;
                }

            .freshspawns {
                text-align: center;
                margin-left: 140px;   
            }

            .circular--square {
                border-radius: 50%;
            }

            .companions {
                text-align: center;
                margin-left: 140px;   
            }
            
           
            .companions { 
                border-collapse:separate; 
                border-spacing:0 15px;
            }
            .bots {
                text-align: center;
                margin-left: 595px; 
            }

           